.main {
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 40px;
  height: 18cm;
  width: 31%;
  margin: auto;
  padding: 0;
  padding-bottom: 10px;
  box-shadow: var(--box-shadow);
  max-width: 9cm;
}
.mains {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 85%;
  padding: 10px;
  font-size: x-large;
  text-align: right;
  outline: none;
  margin-left: 20px;
  border-radius: 8px;
  border: none;
  background-color: var(--background-color);
  color: var(--input-color);
  font-family: Rajdhani;
}

.result {
  text-align: right;
  width: 90%;
  margin-left: 20px;
  font-size: 40px;
  color: var(--primary-text-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .main {
    width: 80%; /* Adjust the width for smaller screens */
    max-width: none; /* Override the max-width for responsiveness */
  }
}
